.SignUpForm {
    width: 100%;
    height: 100%;
    grid-area: 2 / 1 / 3 / 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.Form {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 3px 6px #d61f1f29;
}


.R1 {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


/* start row, start Col, End Row, End col */