.ExhibitionPage {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 2 / 1 / 3 / 5;
  overflow-y: auto;
  flex-direction: column;
  margin: 0 auto;
  max-width: 800px;
  min-height: 365px;
  border: 1px solid black;
  padding: 20px 20px;
}

.ExhibitionPage img {
  align-self: center;
  display: block;
  margin: 10px auto;
  height: 500px;
  width: 80%;
  align-self: center;
  padding-bottom: 30px;
}

.ExhibitionPage button {
  margin-top: 20px;
}
