.EditExhibitionFormContainer{
  grid-area: 2 / 1 / 3 / 5;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
      margin: 0 auto;
}

.EditExhibitionForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  row-gap: 20px;
}

.EditExhibitionForm label {
  align-items: left;

}

.EditExhibitionFormTitle {
  padding-top: 40px;
  width: 100%;
  text-align: center;
}

.EditDropdown {
  width: 80%;
}

.EditExhibitionForm [class*="MuiTextField-root"] {
  width: 80%;
}

.EditExhibitionForm [class*="MuiFormControl-root-MuiTextField-root"] {
  padding: 10px;
  margin: 10px;
}

.EditExhibitionForm [class*="MuiFormControl-root"] {
  padding: 10px;
}
