.IconSlider{
    width: 100%;
    overflow-x: auto;
    overflow-y: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
}

.IconSliderInner{
    width: 200%;
    height: 100px;
    display: flex;
    column-gap: max(5px,11vw);
    overflow-x: auto;
}

.IconSliderInner .MuiButton-root{
    /* margin: 0px 8px; */
    padding: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.IconSliderInner .MuiButton-startIcon{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.IconSliderInner .MuiStack-root:first-of-type{
    margin-left: 25px;
} 

.IconSliderInner .MuiStack-root:last-of-type{
    margin-right: 40px;
} 

.IconSliderInner .MuiTypography-root{
    text-align: center;
}


.IconSliderInner svg{
    width: 60%;
    height: auto;
}

/* .IconSliderInner .IconButtonInvisible{
    opacity: 0;
} */

.IconSlider .MuiBottomNavigationAction-label{
    opacity: 1;
}

.IconSlider ::-webkit-scrollbar {
    width: 1px;
    height: 1px;
    border-radius: 6px;
  }
  
.IconSlider ::-webkit-scrollbar-track {
    background-color: white;
    width: 10px;
  }
  
.IconSlider ::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 5px;
}