.MapPage {
  grid-area: 2 / 1 / 3 / 5;
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90px 40px 40px minmax(auto,calc(var(--scroll-height)px - 282px));
}

.MapPageForm {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  position: relative;
}

.MapFormTopRow,.MapFormBottomRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100vw;
  height: 55px;
  margin: 0 auto;
}

.LeftButton {
  justify-self: flex-end;
  width: fit-content;
}


.RightButton {
  justify-self: flex-start;
  width: fit-content;
}

/* .MapFormTextField{
  font-size: 0.8rem!important;
} */
.MapPageForm [class*="MuiInputLabel"]{
  font-size: 0.8rem;
  line-height: 1.0rem;
}

.MapPageForm [class*="MuiTextField"]{
  width: 90%!important;
  height: 40px;
  justify-self: center;
}

.MapPageForm [class*="MuiInputBase"]{
  font-size: 0.8rem;
}

.MapPageForm [class*="MuiMenuItem"]{
  font-size: 0.8rem!important;
}

.LevelButtonGroup {
  grid-area: 2 / 1 / 3 / 2;
  display: flex!important;
  justify-content: center;
  align-items: center;
  width: 99.9vw;
}

.CategoryButtonGroup{
  grid-area: 3 / 1 / 4 / 2;
  display: flex!important;
  justify-content: center;
  align-items: center;
  width: 99.9vw;
}

.LevelButtonGroup [class*="MuiToggleButton"]{
  font-size: 0.8rem!important;
  padding: 0px 0px!important;
  height: 40px;
  width: calc((100% + 1%) / 7)!important;
  margin: 0px!important;
}

.CategoryButtonGroup [class*="MuiToggleButton"]{
  font-size: 0.7rem!important;
  padding: 0px auto!important;
  height: 40px;
  width: calc((100% + 1%) / 4)!important;
}

.MapComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  /* height: 100%; */
  height: minmax(auto,calc(var(--scroll-height)px - 282px));
  position: relative;
  background-color: rgb(206, 208, 210);
}

/* unable to assign class to the Transform Wrapper*/
.transform-component-module_wrapper__SPB86{
    width: 100%!important;
}

.MapToolBar{
  position:absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
}

.MapImage{
  width: 100vw;
}

.MapPage2 {
  grid-area: 2 / 1 / 3 / 5;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

