.MapPage1 {
  grid-area: 2 / 1 / 3 / 5;
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90px 40px 40px minmax(auto,calc(var(--scroll-height)px - 282px));
}

.MapPageForm1 {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  position: relative;
}

.MapFormTopRow1,.MapFormBottomRow1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100vw;
  height: 55px;
  margin: 0 auto;
}

.LeftButton1 {
  justify-self: flex-end;
  width: fit-content;
}


.RightButton1 {
  justify-self: flex-start;
  width: fit-content;
}

/* .MapFormTextField{
  font-size: 0.8rem!important;
} */
.MapPageForm1 [class*="MuiInputLabel"]{
  font-size: 0.8rem;
  line-height: 1.0rem;
}

.MapPageForm1 [class*="MuiTextField"]{
  width: 90%!important;
  height: 40px;
  justify-self: center;
}

.MapPageForm1 [class*="MuiInputBase"]{
  font-size: 0.8rem;
}

.MapPageForm1 [class*="MuiMenuItem"]{
  font-size: 0.8rem!important;
}

.LevelButtonGroup1 {
  grid-area: 2 / 1 / 3 / 2;
  display: flex!important;
  justify-content: center;
  align-items: center;
  width: 99.9vw;
}

.CategoryButtonGroup1{
  grid-area: 3 / 1 / 4 / 2;
  display: flex!important;
  justify-content: center;
  align-items: center;
  width: 99.9vw;
}

.LevelButtonGroup1 [class*="MuiToggleButton"]{
  font-size: 0.8rem!important;
  padding: 0px 0px!important;
  height: 40px;
  width: calc((100% + 1%) / 7)!important;
  margin: 0px!important;
}

.CategoryButtonGroup1 [class*="MuiToggleButton"]{
  font-size: 0.7rem!important;
  padding: 0px auto!important;
  height: 40px;
  width: calc((100% + 1%) / 4)!important;
}

.MapComponent1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  /* height: 100%; */
  height: minmax(auto,calc(var(--scroll-height)px - 282px));
  position: relative;
  background-color: rgb(206, 208, 210);
}

/* unable to assign class to the Transform Wrapper*/
.MapPage1 .transform-component-module_wrapper__SPB86{
    width: 100%!important;
}

.MapToolBar1{
  position:absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
}

.MapToolBar1sub{
  position:absolute;
  bottom: 0px;
  right: 0px;
  z-index: 10;
}

.MapImage1{
  width: 100vw;
}

