
body {
  padding: 0;
  margin: 0;
  display: block;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #454545;
}

::-webkit-scrollbar-thumb {
  background-color: #07C0FF;
  border-radius: 5px;
}

.logo {
  width: 150px;
  padding: 4px 0;
}

.App {
  display: grid;
  grid-template-columns: 56px 1fr 1fr 56px;
  grid-template-rows: 56px minmax(calc(100vh - 112px), 1fr) 56px;
  grid-gap: 2px;
  width: 100vw;
  flex: 0 0;
  flex-shrink: 0;
}

.Header{
  grid-area: 1 / 1 / 2 / 5;
  position: sticky;
  width: 100%;
  height: 56px;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
}

.Footer{
  grid-area: 3 / 1 / 4 / 5;
  position: fixed;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  width: 100%;
}

