.exhibitionAccordionContainer {
    width: 90%;
    column-gap: 10px;
    row-gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .ExhibitionAccordion */
.MuiAccordion-root {
    width: 100%;
}

/* AccordionSummary */
.MuiAccordionSummary-content p{
    text-align: center;
    width: 100%;
}

.AccordionDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ExhibitionGridContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

/* .MuiGrid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
} */

.MuiCard-root{
    width: 300px;
    height: 600px;
}
.MuiCardHeader-root{
    height: 145px;
}

.MuiCardHeader-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
}